
<br>
<%=form_with do |f|%>

    <%= f.label :first_select %><br />
    <%= f.select :first_select, options_for_select(FirstOption.all.map{|option| [option.name,option.id]}),prompt: 'Select option'%>

    <%= f.label :second_select %><br />
    <%= f.select :second_select ,options_for_select("None"), prompt: 'Select first option'%>
<% end %>

<script>
    $(document).ready(function() {
        $('#first_select').on('change', function() {
            var selected_option = $(this).val();
            
            if(selected_option){
                $.ajax({
                    url: '/objects/' + selected_option,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        var options_html = '';
                        $.each(data, function(index, value) {
                            options_html += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        $('#second_select').html(options_html);
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log('Error fetching options: ' + errorThrown);
                    }
                });
            }

        });
    });

</script>