<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Snake and Ladders", root_path , class:"navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
        <% if current_room %>
          <h1 class='text-center'><%= current_room.name %></h1>
          <%= link_to "Leave",room_path,method: :patch %>
        <% end %>
        <% if current_user %>
            <span class="navbar-text">
                <%= current_user.name %> 
                <%= link_to "Log Out", session_path(session[:user_id]) ,method: :delete , class:'nav-link' %>  
            </span>
            <span class="navbar-text">
            </span>
        <% else %>
            <span class="navbar-text">
                <%= link_to "Log In",new_session_path,class:'nav-link active' %>
                <%= link_to "New User",new_user_path,class:'nav-link' %> 
            </span>
            <span class="navbar-text">
            </span>
        <% end  %>
    </div>
  </div>
</nav>
<div class="alert">
<%# flash.each do |key, value| %>  
  <%#= content_tag(:div, class: "alert alert-#{key}") do %>  
    <%#= value %> 
  <%# end %>  
<%# end %>
</div>