<br><br>
<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :name %><br><br>
        <%= form.text_field :name %><br><br>
        <% @user.errors.full_messages_for(:name).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>
    <div>
        <%= form.label :email %><br><br>
        <%= form.email_field :email %><br><br>
        <% @user.errors.full_messages_for(:email).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>
    <div>
        <%= form.label :password %><br><br>
        <%= form.password_field :password %><br><br>
        <% @user.errors.full_messages_for(:password).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>
    <div>
        <%= form.submit "Create User" %>
    </div>
<% end %>
<br><br>
<%= link_to "Home Page",root_path %>