<br>
<div id="players">
  <% @room.players.each do |player| %>
    <p id="player_<%= player.id %>"><%= player.user.name %></p>
  <% end %>
</div>

<%# if @room.players.length > 1 && @room.status!="playing" %>
    <%= link_to "Start Game", room_start_path(@room), method: :patch , remote: true , id:"start_button" %>
<%# end %>

<br>
<% if @room.players.length==1 %>
    <%= link_to "Destroy Room",room_path,method: :delete ,id:"delete_btn"%>
<% end  %>
<div id="dice-btn" class="text-center">
  
</div>

<div id="game">
</div>
<!--
 <% if @room.status == "playing" %>
    <div id="game">
      <% k = 100 %>
      <% for i in (0...10) %>
        <% row_class = i%2!=0 ? "odd" : "" %>
        <div class="row <%= row_class %>">
          <% for j in (0..9) %>
            <div class="square"><%= k %></div>
            <% k-=1 %>
          <% end  %>
        </div>
      <% end %>
    </div>
  <% end  %>
-->
 




<script>
  document.addEventListener("DOMContentLoaded", () => {
    createRoomChannel("<%= @room.id %>")
  })
</script>